.zig-cache
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Js files
frontend/node_modules
frontend/dist-ssr
frontend/*.local
frontend/package-lock.json
frontend/bun.lockb
frontend/.vite

# Build files
frontend/dist
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

